
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #ffffff;
    --text-main: #000000;
    --card-bg:rgb(161, 161, 161);
    --header-bg: rgba(161, 161, 161, 0.9);
}

.dark {
    --bg-main: #0f172a;
    --text-main: #f8fafc;
    --card-bg: #1e293b;
    --header-bg: rgba(59, 65, 78, 0.95);
}
.dark .h1-about{
    color: var(--text-main);
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header {
    background-image: url('fond3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 25%;
}

.head {
    background-color: rgb(161, 161, 161);
    border-radius: 0 0 4rem 0;
    opacity: 0.9;
    
}

.timer {
    opacity: 0.97;
}
.dark header {
    background-image: url('fond.jpg');
}

.head {
    background-color: var(--header-bg);
    border-radius: 0 0 4rem 0;
}

.timer,
.card {
    background-color: var(--card-bg);
    transition: all 0.3s ease;
}
#theme-toggle{
    padding-right: 1rem;
}

main {
    padding-top: 2rem;
}

.h1-about {
    padding-bottom: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
