
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --bg-main: #ffffff;
    --text-main: #000000;
    --card-bg: #f3f4f6;
    --header-bg: rgba(161, 161, 161, 0.9);
}

.dark {
    --bg-main: #0f172a;
    --text-main: #f8fafc;
    --card-bg: #1e293b;
    --header-bg: rgba(15, 23, 42, 0.95);
}



body {
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-image: url('fond.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
    background-position: 25%;
}

.dark header {
    background-image: url('fond.jpg');
}

.head {
    background-color: var(--header-bg);
    border-radius: 0 0 4rem 0;
}

.timer,
.card {
    background-color: var(--card-bg);
    transition: all 0.3s ease;
}

main {
    padding-top: 2rem;
}

.h1-about {
    padding-bottom: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
