@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url('fond3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 25%;
}

.head {
    background-color: rgb(161, 161, 161);
    border-radius: 0 0 4rem 0;
    opacity: 0.9;
    
}

.timer {
    opacity: 0.97;
}

main {
    padding-top: 2rem;
}

.h1-about {
    padding-bottom: 1.5rem;
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}