@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url('fond3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 25%;
}
.head{
    background-color:rgb(161, 161, 161);
    border-radius: 0 0 4rem 0;
    opacity: 0.8;
}
.timer{
    opacity: 0.9;
}